In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = {
    'Student_Id' : [1,2,3,4,5,6],
    'Age': [15,16,np.nan, 17,15,16],
    'Gender': ['Male', 'Female', np.nan, 'Male', 'Female', np.nan],
    'English': [90, 85, 65, 90, np.nan, 87],
    'Math':[90, 85, 65, np.nan, 76, 82],
    'Science':[93, 65, 95, 80, 76, 82]
}

In [3]:
df = pd.DataFrame(data)

In [4]:
df.head()

   Student_Id   Age  Gender  English  Math  Science
0           1  15.0    Male     90.0  90.0       93
1           2  16.0  Female     85.0  85.0       65
2           3   NaN     NaN     65.0  65.0       95
3           4  17.0    Male     90.0   NaN       80
4           5  15.0  Female      NaN  76.0       76

In [5]:
df.tail()

   Student_Id   Age  Gender  English  Math  Science
1           2  16.0  Female     85.0  85.0       65
2           3   NaN     NaN     65.0  65.0       95
3           4  17.0    Male     90.0   NaN       80
4           5  15.0  Female      NaN  76.0       76
5           6  16.0     NaN     87.0  82.0       82

In [6]:
df.isnull().sum()

Student_Id    0
Age           1
Gender        2
English       1
Math          1
Science       0
dtype: int64

In [13]:
df['Age'] = df['Age'].fillna(df['Age'].mean())
df['English'] = df['English'].fillna(df['English'].mean())
df['Math'] = df['Math'].fillna(df['Math'].mean())
df['Gender']= df['Gender'].fillna(df['Gender'].mode()[0])

In [14]:
df.isnull().sum()

Student_Id    0
Age           0
Gender        0
English       0
Math          0
Science       0
dtype: int64

In [15]:
df.head()

   Student_Id   Age  Gender  English  Math  Science
0           1  15.0    Male     90.0  90.0       93
1           2  16.0  Female     85.0  85.0       65
2           3  15.8  Female     65.0  65.0       95
3           4  17.0    Male     90.0  79.6       80
4           5  15.0  Female     83.4  76.0       76

In [16]:
from sklearn.ensemble import IsolationForest

In [18]:
model = IsolationForest(contamination=0.1)  # contamination is the proportion of outliers

# Fit the model to the data
df['Outlier'] = model.fit_predict(df[['Math', 'Science']])

# Convert outlier column: 1 means normal, -1 means outlier
df['Outlier'] = df['Outlier'].map({1: 'Normal', -1: 'Outlier'})

# Display the results
print(df)

InvalidIndexError: (['Math'], ['Science'])